@use "../colors" as *;
.login-card{
    color: #7E7E7F;
    .card{
        box-shadow: 0px 1px 8px 0px rgba(79, 15, 15, 0.16);
        max-width: 30rem !important;
        
    }
    h2{
        color: #323233 !important;

        font-family: "Roboto", sans-serif !important;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    p{
        font-family: "Roboto", sans-serif !important;
        color:  #7E7E7F;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    .form-label{
        position: absolute;
        background-color: white;
        z-index: 1;
        padding: 0 2px;
        top: -30%;
        left: 3%;
    }
    .btn-group{
        gap: 2px;
        background-color: $secbtncolor;
       
    }
    .form-sign-btn{
        top: 90%;
        left: 15%;
        z-index: 1; 

       .btn-primary{
           background-color: $secbtncolor !important;
           color: white !important;
          border-radius: 5px !important;
          border: none !important;
          width: 149px;
          padding: 18px 0px;
          font-size: 18px;
       }

    }
}