$prybgcolor: #ffffff;
$prytextcolor: #000000;
$sectextcolor: #ffffff;
$tertextcolor: #032773;
$secbgcolor: #032773;
$secbtncolor: #032773;
$btncolor: #1034a6;
$btntextcolor: #ffffff;
$iconColor: rgb(3, 3, 3);