// @use "./colors" as *;

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Sanchez", serif;
}

h3 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Sanchez", serif;
}
h4 {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  // font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Raleway", sans-serif;
}
