@use "../colors" as *;
.guest-navbar {
  width: 100%;

  background-color: $sectextcolor;

  .nav-link {
    color: $prytextcolor !important;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
  }

    .short-links .nav-link:hover, .active{
        background-color: $secbtncolor !important;
        color: white !important;
        padding: 0.5rem 1rem;
        border-radius: 10px;
       
    }

  .contact-btn {
    top: 93%;
    left: 40%;
    z-index: 1;

    .btn-primary {
      background-color: $secbtncolor !important;
      color: white !important;
      border-radius: 5px !important;
      border: none !important;
      padding: 20px;
      font-size: 20px;
    }
  }
  .btn-group {
    gap: 2px;
    background-color: $secbtncolor;
  }
  .sign-btn {
    top: 93%;
    left: 79%;
    z-index: 1;

    .btn-primary {
      background-color: $secbtncolor !important;
      color: white !important;
      border-radius: 5px !important;
      border: none !important;
      width: auto;
      padding: 20px;
      font-size: 20px;
    }
  }

    @media (max-width:992px){
      
        .contact-btn{
            top: 46.5%;
            left: 25%;
            .btn-primary{
                padding:0.6rem 1rem;
                font-size: 18px;
            
            }
            
    }
    .sign-btn{
        top: 85%;
        left: 25%;
        .btn-primary{
            padding:0.8rem 1rem;
            font-size: 18px;
        
        }
    }
    }
    @media (max-width:576px){
        
        .short-links .nav-link:hover{
            background-color: $secbtncolor !important;
            color: white !important;
            padding: 0.5rem 0.5rem;
            border-radius: 10px;
           
        }
        .contact-btn{
            top: 47%;
            left: 30%;


            .btn-primary{
                padding:0.6rem 0.35rem;
                font-size: 16px;
            
            }
            
    }

    .sign-btn{
      
        left: 33%;
        .btn-primary{
            padding:0.8rem 0.35rem;
            font-size: 16px;
        
        }
    }
    }

}
