@use "../colors" as *;
.guest-navbar{
    width: 100%;
    
    background-color: $sectextcolor;

    .nav-link{
        color: $prytextcolor !important;
        font-size: 20px;
        font-weight: 400;
    }

    .nav-link:hover, .nav-link:active{
        color: $btncolor !important;
    }

   

}

